<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>828259995480-2r6fnm0uipij2eoq2efah74llgecbpg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828259995480-2r6fnm0uipij2eoq2efah74llgecbpg4</string>
	<key>API_KEY</key>
	<string>AIzaSyAivYU9NF1pEk_7YZ5IqwRVTr0asmLnxms</string>
	<key>GCM_SENDER_ID</key>
	<string>828259995480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>denikaev.apps.test2</string>
	<key>PROJECT_ID</key>
	<string>test2-29e4b</string>
	<key>STORAGE_BUCKET</key>
	<string>test2-29e4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:828259995480:ios:68012f3c342cf872</string>
	<key>DATABASE_URL</key>
	<string>https://test2-29e4b.firebaseio.com</string>
</dict>
</plist>